[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vitality.vim"]
	path = bundle/vitality.vim
	url = git://github.com/sjl/vitality.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/jellybeanas.vim"]
	path = bundle/jellybeanas.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = git://github.com/duff/vim-scratch.git
[submodule "bundle/tslime.vim"]
	path = bundle/tslime.vim
	url = git://github.com/kikijump/tslime.vim.git
[submodule "bundle/vim-turbux"]
	path = bundle/vim-turbux
	url = git://github.com/jgdavey/vim-turbux.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-vroom"]
	path = bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
